<div>
  <h2 id="page-heading" data-cy="ConsumerHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.home.title">Consumers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consumer"
        [routerLink]="['/jhipstersampleapplication/consumer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.home.createLabel"> Create a new Consumer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consumers?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.home.notFound">No consumers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="consumers && consumers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.ikpi">Ikpi</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.brand">Brand</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.scope">Scope</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.alias">Alias</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.telematicld">Telematicld</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.createdDate">Created Date</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.updatedDate">Updated Date</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.souscription">Souscription</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consumer of consumers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/consumer', consumer.id, 'view']">{{ consumer.id }}</a>
          </td>
          <td>{{ consumer.ikpi }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.Brand.' + consumer.brand }}">{{ consumer.brand }}</td>
          <td>{{ consumer.scope }}</td>
          <td>{{ consumer.alias }}</td>
          <td>{{ consumer.telematicld }}</td>
          <td>{{ consumer.createdDate | formatMediumDate }}</td>
          <td>{{ consumer.updatedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="consumer.souscription">
              <a [routerLink]="['/souscription', consumer.souscription?.id, 'view']">{{ consumer.souscription?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/consumer', consumer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/consumer', consumer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(consumer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
