<div>
  <h2 id="page-heading" data-cy="SouscriptionHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.home.title">Souscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-souscription"
        [routerLink]="['/jhipstersampleapplication/souscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.home.createLabel">
          Create a new Souscription
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="souscriptions?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.home.notFound">No souscriptions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="souscriptions && souscriptions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.status">Status</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.createdDate">Created Date</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.endDate">End Date</span>
          </th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationSouscription.concent">Concent</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let souscription of souscriptions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/souscription', souscription.id, 'view']">{{ souscription.id }}</a>
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.StatusSouscription.' + souscription.status }}">{{ souscription.status }}</td>
          <td>{{ souscription.createdDate | formatMediumDate }}</td>
          <td>{{ souscription.endDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="souscription.concent">
              <a [routerLink]="['/concent', souscription.concent?.id, 'view']">{{ souscription.concent?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/souscription', souscription.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/souscription', souscription.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(souscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
