<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="consumer">
      <h2 data-cy="consumerDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.detail.title">Consumer</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ consumer.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.ikpi">Ikpi</span></dt>
        <dd>
          <span>{{ consumer.ikpi }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.brand">Brand</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.Brand.' + consumer.brand }}">{{ consumer.brand }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.scope">Scope</span></dt>
        <dd>
          <span>{{ consumer.scope }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.alias">Alias</span></dt>
        <dd>
          <span>{{ consumer.alias }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.telematicld">Telematicld</span></dt>
        <dd>
          <span>{{ consumer.telematicld }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ consumer.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.updatedDate">Updated Date</span></dt>
        <dd>
          <span>{{ consumer.updatedDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationConsumer.souscription">Souscription</span></dt>
        <dd>
          <div *ngIf="consumer.souscription">
            <a [routerLink]="['/souscription', consumer.souscription?.id, 'view']">{{ consumer.souscription?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/consumer', consumer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
