<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-compte-heading"
        data-cy="CompteCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.home.createOrEditLabel"
      >
        Create or edit a Compte
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.idPFM" for="field_idPFM"
            >Id PFM</label
          >
          <input type="text" class="form-control" name="idPFM" id="field_idPFM" data-cy="idPFM" formControlName="idPFM" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.alias" for="field_alias"
            >Alias</label
          >
          <input type="text" class="form-control" name="alias" id="field_alias" data-cy="alias" formControlName="alias" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.rib" for="field_rib"
            >Rib</label
          >
          <input type="text" class="form-control" name="rib" id="field_rib" data-cy="rib" formControlName="rib" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.createdDate"
            for="field_createdDate"
            >Created Date</label
          >
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationCompte.concent" for="field_concents">Concent</label>
          <select class="form-control" id="field_concents" data-cy="concent" multiple name="concents" formControlName="concents">
            <option
              [ngValue]="getSelectedConcent(concentOption, editForm.get('concents')!.value)"
              *ngFor="let concentOption of concentsSharedCollection; trackBy: trackConcentById"
            >
              {{ concentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
